body{
    font-family: 'Pangolin', cursive;
    background-color: rgb(255, 240, 245);
    margin: 0;
    
}

.social-media{
    width: 25px;
    height: 25px;
}

.social-media:hover{
    width: 30px;
    height: 30px;
    transition: 0.3s;
}